
.cart-card{
   margin:5%;
   justify-content: center;
   align-items: center;
}
.grid {
    width: 100%;
    display: grid;
    grid-template-columns: 5% 5% 25% 25% 5% 10% 5%;
    grid-gap: 28px;
    margin-bottom: 5%;

}
.id {
    width: 100%;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-left: 10%;
    height: 15%;
}
.cart-img {
  
}